<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
	        	<add value="app.js" />
	        </files>
	    </defaultDocument>
		<staticContent>
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" /> 
		</staticContent>
	</system.webServer>
</configuration>
