<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <system.webServer>
      <staticContent>
        <mimeMap fileExtension=".syx" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".tab" mimeType="text/plain" />
	<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" /> 
      </staticContent>
   </system.webServer>
</configuration>
