<h1>Looking Glass Film Festival</h1>

<form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
  <table>
    <tr>
      <td> Your Name: </td> 
      <td> <div class="upload-container"><input id="name" type="text" name="name"></div> </td> 
    </tr>
    <tr> 
      <td> CodeName (on the blue tape on USB): </td>
      <td> <div class="upload-container"><input id="codename" type="text" name="codename"></div> </td>
    </tr>
    <tr>
      <td> Name you want me to display on screen: </td>
      <td> <div class="upload-container"><input id="displayname" type="text" name="displayname"></div> </td> 
    </tr>
    <tr>
      <td> Your animation (.lgp) to upload: </td>
      <td> <div class="upload-container"><input id="file-picker" type="file" name="image"></div> </td> 
    </tr>
    <tr>
      <td> <div><input type="submit" value="Upload File"></div> </td>
    </tr>
  </table>
</form>

<p id="message">{{message}}</p>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const message = document.getElementById('message');
    const picker = document.getElementById('file-picker');

    document.getElementById('upload-form').addEventListener('submit', (e) => {

      message.innerText = '';

      if(!picker.files.length) {
        message.innerText = 'Select the looking glass file (.lgp) to upload:';
        e.preventDefault();
        return false;
      }
    });

  });
</script>