<h1>Looking Glass Film Festival</h1>

<form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
  <div class="upload-container"><input id="file-picker" type="file" name="image"></div>
  <div><input type="submit" value="Upload File"></div>
</form>

<p id="message">{{message}}</p>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const message = document.getElementById('message');
    const picker = document.getElementById('file-picker');

    document.getElementById('upload-form').addEventListener('submit', (e) => {

      message.innerText = '';

      if(!picker.files.length) {
        message.innerText = 'Select the looking glass file (.lgp) to upload.';
        e.preventDefault();
        return false;
      }
    });

  });
</script>