<h1>Looking Glass Film Festival</h1>

<form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
  <tbody>
  <tr>
    <tbody>
      <tr>
        <td>Your Name (required): </td>
        <td><div class="upload-container"><input id="name" type="text" name="name" required></div></td>
      </tr>
      <tr>
        <td>CodeName (on the blue tape of your USB) (required): </td>
        <td><div class="upload-container"><input id="codename" type="text" name="codename" required></div></td>
      </tr>
      <tr>
        <td>Name you want me to show on screen: (Default will be your name.)</td>
        <td><div class="upload-container"><input id="displayname" type="text" name="displayname" ></div></td>
      </tr>
      <tr>
        <td>Number of people attending (including the participant) (required): </td>
        <td>
          <div class="upload-container">
            <select name="peopleattending" required>      
              <option value=0>0</option>      
              <option value=1 selected=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <td> Your animation (.lgp) (required): </td>
        <td> <div class="upload-container"><input id="file-picker" type="file" name="image"></div> </td>
      </tr>
    </tboday>
    <div><input type="submit" value="Upload File"></div>
  </tr>
  <tr>
    <video controls>
      <source src="../animation.mp4" type="video/mp4">
    </video>
  </tr>
  </tbody>
</form>

<p id="message">{{message}}</p>

<h3>Where to get animation files<h3>
<p>First, remember the project name.</p>
<p>In Windows, get it under "guru-worlds" folder.</p>
<p>In Mac, right-click Looking Glass and select "Show Package Contents". Then, follow this path, "Contents" -> "Resources" -> "guru-worlds". </p>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const message = document.getElementById('message');
    const picker = document.getElementById('file-picker');

    document.getElementById('upload-form').addEventListener('submit', (e) => {

      message.innerText = '';

      if(!picker.files.length) {
        message.innerText = 'Select the looking glass file (.lgp) to upload.';
        e.preventDefault();
        return false;
      }
    });

  });
</script>